@{
    Layout = "_ConfigurePlugin";
}

@model Nop.Plugin.Widgets.ProductDetailMessage.Models.ConfigurationModel

<form asp-controller="WidgetsLivePersonChat" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>Please find our step by step set up guide detailed below:</b>
                    <ol>
                        <li>
                            Create account in <a href="http://www.liveperson.com/" target="_blank">www.liveperson.com</a>
                        </li>
                        <li>
                            Copy LiveEngage Tag from your account and paste here
                        </li>
                    </ol>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="LiveEngageTag" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="LiveEngageTag" />
                        <span asp-validation-for="LiveEngageTag"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
